/* Reset */
.AboutUsPage {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.about-heading {
  color: #E76F51;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-text {
  color: #333;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

.team-heading {
  color: #E76F51;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.team-text {
  color: #333;
  font-size: 1.2rem;
  line-height: 1.5;
}