.container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #264653;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.header,
.details,
.roles,
.logout {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.header h1,
.details h2,
.roles h3 {
    margin-bottom: 10px;
}

.header h1 {
    font-size: 32px;
    color: #264653;
}

.details h2,
.roles h3 {
    font-size: 24px;
    color: #2A9D8F;
}

p {
    margin-bottom: 10px;
    color: #264653;
}

.role-container {
    display: flex;
    justify-content: space-between;
    border: 2px solid #264653;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #E9C46A;
}

.logout button {
    padding: 12px 24px;
    background-color: #E9C46A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.logout button:hover {
    background-color: #E76F51;
}

.loading {
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
    color: #264653;
}

/* Responsive styles */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .role-container {
        flex-direction: column;
        align-items: center;
    }
}