body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.admin-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 300px;
  background-color: #264653;
  padding: 20px 0; /* Only vertical padding */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-container .sidebar .logo p {
  margin: 0;
  margin-top: 10px;
  color: #fff;
  text-align: left;
  font-size: 20px;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0 0; /* Add top margin to separate from logo */
  width: 100%;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  display: block;
  width: 100%;
}

.main-content.header.user-info {
  text-decoration: none;
  color: #fff;
  display: block;
  width: 100%;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 20px; /* Adjusted padding for better spacing */
  background-color: #2a9d8f;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-color: #e9ecef;
  color: #264653;
  cursor: pointer;
}

.menu-item i {
  margin-right: 10px;
  flex-shrink: 0;
}

.main-content {
  flex: 1;
  padding: 0; /* Remove padding */
}

.main-content .header {
  display: flex;
  width:400px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
  padding: 0;
  bottom: 0px; /* Remove padding */
  background-color: #264653;
}

.admin-container .sidebar {
  background-color: #264653;
}

.user-info h3,
.user-info p {
  text-align: left;
  margin: 0;
  color: white;
}

.user-actions .admin-photo-circle {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.user-actions .admin-photo {
  width: 100%;
  height: auto;
}

.statistics {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.stat-box {
  background-color: #f1f3f5;
  padding: 20px;
  border-radius: 5px;
}
/* AdminPannel.css */

.pie-chart {
  margin-top: 20px; /* Add some space above the chart */
}

.apexcharts-legend {
  display: flex;
  justify-content: space-around; /* Distribute legend items evenly */
  margin-bottom: 10px; /* Add some space below the legend */
}

.apexcharts-legend-text {
  font-size: 14px; /* Adjust legend text size */
}

.apexcharts-legend-marker {
  margin-right: 5px; /* Add some space between marker and text */
}
