

.gradient-background {
    background: linear-gradient(120deg, #F4A261, #E9C46A, #F4A261);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form {
    width: 40%;
}

/* .container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 30px;
    width: 400px;
} */






.contact-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #E76F51;
    /* Dark Blue */
}

.input-field {
    margin-bottom: 15px;
    text-align: left;
    /* position: relative; */
}

/* .input-field label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #E76F51;
    text-align: left;
} */

.input-field input, .input-field textarea {
    /* width: calc(100% - 20px); */
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #E76F51;
    text-align: left;
}

.input-field input:focus {
    outline: none;
    background-color: #e6e6e6;
}


.contact-form button {
    background-color: #F4A261;
    /* Green */
    color: #fff;
    padding: 10px 0px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
}

button:hover {
    background-color: #E76F51;
    /* Dark Blue */
}

.social-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #f0f0f0;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.social-login span:first-child {
    font-size: 20px;
    color: #F4A261;
    /* Green */
}

.social-login span:last-child {
    font-size: 14px;
    color: #E76F51;
    /* Dark Blue */
}

.social-login:hover {
    background-color: #e6e6e6;
}

.footer {
    text-align: center;
    font-size: 12px;
    color: #aaa;
    margin-top: 20px;
}