/* ContactForm.css */

.contact-us-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.contact-us-container h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.contact-us-container p {
    font-size: 16px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

select,
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #F4A261 !important;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #e76f51 !important;
    /* Change button color on hover */
}