body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.gradient-background {
    background: linear-gradient(120deg, #F4A261, #E9C46A, #F4A261);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container .form-group label {
    color: #E76F51;
    text-align: left;
    font-size: small;
    display: block;
    margin-bottom: 5px;
}

.header {
    text-align: center;
}

.content {
    margin-top: 20px;
    width: 100%;
    
}

.content h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f2f1f1;

}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f2f1f1;
    box-sizing: border-box;
    font-size: 16px;
}

.container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Styles for the footer */
.footer {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
}