.notification {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 9px;
    margin: 10px 15px;
    background-color: #f9f9f9;
}

.notification.success {
    border-color: #4caf50;
    background-color: #dff0d8;
}

.notification.error {
    border-color: #d9534f;
    background-color: #f2dede;
}

.notifications {
    text-align: center;
}




.navbar {
    padding: 15px
}

.navbar-links img {
    width: 40px;
   
}

.navbar p {
    display: inline-block;
    margin-right: 10px;
}

.navbar-logo h1 {
    color: #264351;
}

.navbar, .navbar-links, .navbar-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

}