
header {
    background-color: #264653;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo img {
    width: 100px;
    height: auto;
  }
  
  .profile {
    display: flex;
    align-items: center;
  }
  
  .profile span {
    margin-right: 10px;
    color:white;
  }
  
  .notification-icon {
    color: white;
  }
  
  .container {
    text-align: center;
    margin-top: 50px;
  }
  
  .content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
  }
  
  .join-req h1 {
    font-size: 36px;
    color: #264653;
    margin-bottom: 20px;
  }
  
  .join-requests {
    list-style: none;
    padding: 0;
  }
  
  .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .username {
    font-size: 18px;
  }
  
  .actions {
    display: flex;
    align-items: center;
  }
  
  .actions button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #264653;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .actions button:hover {
    background-color: #2A9D8F;
  }
  