.user-management {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .search-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
  }
  
  .search-filter input,
  .search-filter select {
    margin: 0 10px;
    padding: 5px;
    font-size: 16px;
    width: 29%;
  }
  
  
  

  .user-list {
    display: flex;
    justify-content: center;
  }
  
  table {
    border-collapse: collapse;
    width: 60%;
  }
  
  th,
  td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  