body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.user-management {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #2A9D8F;
    padding: 20px;
    color: white;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.sidebar a:hover {
    background-color: #264653;
}

.sidebar a.active {
    background-color: #E76F51;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background: linear-gradient(120deg, #F4A261, #E9C46A, #F4A261);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.title {
    font-size: 36px;
    color: #E76F51;
}

.search-bar {
    border: 1px solid #E76F51;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 18px;
}

.subtitle {
    font-size: 24px;
    margin-bottom: 20px;
    color: #E76F51;
    text-align: left;
    border-bottom: 2px solid #E76F51;
    padding-bottom: 10px;
    margin-top: 40px;
}

.section {
    margin-bottom: 50px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.circle {
    width: 70px;
    height: 70px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 20px;
}

.card-info {
    text-align: left;
}

.card-info p {
    margin: 5px 0;
    color: #E76F51;
    font-size: 18px;
}
