.user-details {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid #264653; 
    border-radius: 10px; 
 }

 .user-details h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    background: linear-gradient(to right, #264653, #E76F51, #F4A261);
    -webkit-background-clip: text;
    color: transparent;
}

.user-details .info-container {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 20px;
}

.user-details .info-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: relative;
    background: linear-gradient(to right, #264653, #E76F51, #F4A261);
    -webkit-background-clip: text;
    color: transparent;
}

.user-details .info-container h2::after {
    content: '';
    display: block;
    width: 50%;
    height: 4px;
    background: linear-gradient(to right, #264653, #E76F51, #F4A261);
    margin-top: 5px;
}

.user-details .info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.user-details .info-grid p {
    margin-bottom: 10px;
    color: #264653;
    text-align: left;
    font-size: 16px;
}

.user-details .info-grid p strong {
    display: inline;
    font-weight: bold;
    margin-right: 5px;
}

.user-details .info-grid p span {
    display: inline;
}
.user-details button {
    padding: 12px 24px;
    background-color: #E76F51; /* Changed to a more cohesive color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto;
    outline: none;
}

.user-details button:hover {
    background-color: #264653; /* Updated hover color to match the theme */
    outline: none;
}

.user-details .stars {
    display: flex;
    margin-top: 5px;
}

.user-details .star {
    font-size: 1.5rem;
    margin-right: 0.2rem;
}

.user-details .star.full {
    color: gold;
}

.user-details .star.half {
    color: gold;
}

.user-details .star.empty {
    color: lightgray;
}

@media (max-width: 600px) {
    .user-details {
        padding: 10px;
    }

    .user-details .info-grid {
        grid-template-columns: 1fr;
    }
} 
