body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }

  .container {
    width: 650px; /* Fixed the max-width to 850px */
    margin: 5px auto; /* Reduced the top margin */
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #e76f51;
    text-align: left;
    font-size: small;
    display: block;
  }

  .container h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  input,
  textarea,
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #858585;
    border-radius: 5px;
    background-color: #f2f1f1;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .container button {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .task-list-button {
    width: 100%;
    display: flex;
    gap: 10px;
  }
  .task-list-button div {
    flex: 1;
  }
  .task-list-button a {
    flex: 1;
  }
  
  /* Responsive sidebar styles from IndividualPannel.css */
  .indiv-sidebar {
    width: 250px;
    background: #264653;
    color: #ecf0f1;
    height: 100vh;
    padding: 20px;
    text-decoration: none;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
  }
  
  .indiv-sidebar.active {
    transform: translateX(0);
  }
  
  .toggle-container {
    width: 100%;
  }
  
  .toggle-menu {
    width: 10%;
    float: right;
    background-color: #264653;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 0;
    text-align: center;
    margin-right: 20px;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
    margin-left: 250px; /* Default margin when sidebar is visible */
  }
  
  @media (max-width: 980px) {
    .main-content {
      margin-left: 0;
    }
  
    .indiv-sidebar {
      transform: translateX(-100%);
    }
  
    .indiv-sidebar.active {
      transform: translateX(0);
    }

    .task-list-button {
      flex-direction: column;
    }
  }
  
